<!-- Three -->
<section id="three" class="wrapper style3 special">
		<div class="inner">
				<header class="major">
						<h2>Professional Experience</h2>
						<p>4040 Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
				</header>
				<ul class="features">
						<li class="icon fa-stethoscope"> <!-- fa-paper-plane-o" -->
								<h3>Public Health Promoter</h3>
								<p>Eastern Ontario Health Unit<br /> -Lead the Mobile Workforce IT Team in testing new efficient ways to conduct business across Eastern Ontario for all Health Promotion employees.</p>
						</li>
						<li class="icon fa-graduation-cap">
								<h3>Part-time Professor</h3>
								<p>Algonquin College<br /> -Support the Department of Fitness and Lifestyle Management in teaching Exercise Counselling, developing innovative curricula and materials.</p>
						</li>
					<!--<li class="icon fa-code">
								<h3>Mus Scelerisque</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-headphones">
								<h3>Mauris Imperdiet</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-heart-o">
								<h3>Aenean Primis</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-flag-o">
								<h3>Tortor Ut</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li> -->
				</ul>
		</div>
</section>
